.xuangouzhinan{
    height: 7.2rem /* 270/37.5 */;
    padding-left: .4rem /*15/37.5*/;
    padding-right: .4rem /*15/37.5*/;
    background-color: #fff;
}
.xuangouzhinan-header{
    height:1.866667rem /* 70/37.5 */;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.xuangouzhinan-left--text1{
    font-weight: 900;
}
.xuangouzhinan-left--text1,.xuangouzhinan-left--text2,.xuangouzhinan-left--text3 {
    font-size: .48rem /* 18/37.5 */;
    color: #000000;
    margin-right: .266667rem /* 10/37.5 */;
}
.xuangouzhinan-right--text{
    color: #8f96a0;
    font-size: .373333rem /* 14/37.5 */;
}
.carCard {
    position: absolute;
    /* left: 0; */
  
    margin-right: .533333rem /* 20/37.5 */;
    width: 50%;
    height: 5.333333rem /* 200/37.5 */;
} 
.xuangouzhinan-card--wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.xuangouzhinan-li{
    margin-left: 15px;
    margin-right: 15px;
    width: 40%;
    flex: 1 0 auto;
}
.xuangouzhinan-img--wrap {
    width: 100%;
    height: 2.133333rem /* 80/37.5 */;
}
.carCard-slide {
    display: flex;
    flex-direction: row;
    width: 50%;
}
.focus-text {
    position: absolute;
    bottom: 3.253333rem /* 122/37.5 */;
    left: .293333rem /* 11/37.5 */;
    display: inline-block;
    padding: 0 .213rem /* 8/37.5 */;
    font-family: PingFangSC-Regular;
    color: #fff;
    line-height: .64rem /* 24/37.5 */;
    font-size: .267rem /* 10/37.5 */;
    background-image: linear-gradient(90deg,transparent,rgba(0,0,0,.4));
}
.focus-content {
    height: 2.507rem /* 94/37.5 */;
    padding: .267rem /* 10/37.5 */ .267rem /* 10/37.5 */ 0;
}
.focus-content > .focus-title {
    font-family: PingFangSC-Medium;
    font-size: .373rem /* 14/37.5 */;
    color: #303741;
    line-height: .373rem /* 14/37.5 */;
    margin-bottom: .16rem /* 6/37.5 */;
    font-weight: 400;
}
.carCard-carname {
    font-family: PingFangSC-Regular;
    color: #303741;
    line-height: .453rem /* 17/37.5 */;
    margin-bottom: .16rem /* 6/37.5 */;
    -webkit-line-clamp: 2;
    height: .853rem /* 32/37.5 */;
}
.carCard-carprice{
    font-family: PingFangSC-Medium;
    color: #ff7147;
    line-height: .693rem /* 26/37.5 */;
    white-space: nowrap;
}
.carCard-findSameCar {
    display: inline-block;
    position: absolute;
    font-family: PingFangSC-Medium;
    left: 2.773333rem /* 104/37.5 */;
    bottom:.933333rem /* 35/37.5 */;
    line-height: .693rem /* 26/37.5 */;
    font-size: .32rem /* 12/37.5 */;
    color: #22ac38;
    background: rgba(34,172,56,.1);
    padding: 0 .253rem /* 9.5/37.5 */;
}
.carCard-todayRecommend {
    position: absolute;
    top: 0;
    left: .4rem /* 15/37.5 */;
    display: inline-block;
    width: 1.467rem /* 55/37.5 */;
    height: .533rem /* 20/37.5 */;
    line-height: .533rem /* 20/37.5 */;
    background-color: #ff7147;
    font-family: PingFangSC-Medium;
    border-radius: .053rem /* 2/37.5 */ 0 .107rem /* 4/37.5 */ 0;
    text-align: center;
    color: #fff;
}